
body 
{
  background-color: linen;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: grey;
}
h1 
{
  color: maroon;
  margin-left: 40px;
} 
table, th, td 
{
	border: 1px solid black;
	border-collapse: collapse;
}
.myDiv 
{
	border: 5px outset blue;
	background-color: lightblue;
	text-align: left;
}
.subaruImg 
{
	border: 5px outset black;
}